body{
    width:100vw;
    overflow: hidden;
    background-color:rgb(236, 239, 248);
}

.expense_cont{
    display:flex;
    width:80%;
    flex-wrap: wrap;
    gap:1rem;
    padding:0.5rem;
    color:rgb(250, 250, 192);
    align-items: center;
    justify-content: space-around;
    background-color:rgb(46, 48, 48);
    border:2px solid rgb(233, 245, 10);
    margin:5px;
}

.expense__box{
margin:1rem;
width:94%;
height: auto;
padding:2rem;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(25, 24, 24);
gap:1rem;
}

.mrp_cont{
    border:none;
    padding:0.5rem;
    border-radius:10px;
    background-color:rgb(255, 255, 152);
    color:black;
}


.date_cont{
    border:2px solid white;
    padding:0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}