.form__cont{
    background-color: rgb(82, 76, 76);
    margin:2rem;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius:10px;
}